*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Croissant One', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Titillium Web', sans-serif;
}

.fix{
    text-decoration: none;
    color: orange;
}

.fix2{
    text-decoration: none;
    color: black;
}

.navbar_bg{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: black;
    margin-top: 0;
    position: fixed;
    display: flex;
}

/* Navbar content */
.shopicon{
    background-color: grey;
    width: 5%;
    height: 100%;
    float: left;
}

.shopicon img{
    width: 100%;
    height: 100%;
}

.shopname{
    background-color:black ;
    width: 10%;
    height: 100%;
    color: orange;
    size:60px;
    font-size: 25px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px inset rgb(237, 98, 29);
}

.browsegames{
    text-decoration: none;
    width: 12%;
    height: 100%;
    color: orange;
    background-color:black;
    padding-top: 18px;
    font-size: 18px;
    padding-left: 5px;
}

.browsegames:hover{
    background-color:rgb(237, 162, 0);
    color: black;
    .underline{
        background-color: black;
    }

    .fix{
        color: black;
    }
}


.randomgames{
    width: 12%;
    height: 100%;
    color: orange;
    background-color:black;
    padding-top: 18px;
    font-size: 18px;
    padding-left: 5px;
}

.underline{
    width: 95%;
    height: 10%;
    margin-bottom: 0%;
    padding-right: 5px;
}

.randomgames:hover{
    background-color:rgb(237, 162, 0);
    color: black;
    .underline{
    background-color: black; 
}

    .fix{
        color: black;
    }
}

.searchbar{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    width: 30%;
    height: 100%;
    background-color:black;
    padding-top: 18px;
    font-size: 18px;
    padding-left: 5px;
}



.searchbar input{
    margin-bottom: 12px;
    border: none;
    margin-right: 5px;
    font-size: 17px;
    border: 4px solid orange;
    
}
.searchicon{
    background-color: orange;
    width: 30px;
    height: 30px;
    padding: 2px;
    border: none;
    margin-right: 5px;
}

.searchicon img{
    width: 100%;
    height: 100%;
}
/* Log in */
.Login{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 8%;
    height: 100%;
    color: orange;
    background-color:black;
    margin-left: 10px;
    padding-top: 18px;
    font-size: 18px;
    padding-left: 5px;
}

.Login:hover{
    background-color:rgb(237, 162, 0);
    color: black;
    .underline{
    background-color: black;
}
}

/* Dang ky */
.Regis{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 8%;
    height: 100%;
    color: orange;
    background-color:black;
    margin-left: 20px;
    padding-top: 18px;
    font-size: 18px;
    padding-left: 5px;
}


.Regis:hover{
    background-color:rgb(237, 162, 0);
    color: black;
    .underline{
    background-color: black;
}
}


/* Page Content */
.Form-Box{
    border-radius: 10px;
    overflow: hidden;
    width: 25%;
    height: 50%;
    display: flex;
    background-color: black;
    flex-direction: column;
}

.LogText{
    width: 100%;
    height: 15%;
    background-color: orange;
    color: black;
    font-size: 20px;
    font-family: 'Croissant One', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Titillium Web', sans-serif;
}

.LogText h1{
    padding-left: 135px;
}

.Form{
    width: 100%;
    height: 85%;
    background-color: black;
    padding-left: 20px;
}

.Username{
    padding-top: 10px ;
    width: 100%;
    height: 80px;
}

.Username h2{
    color: orange;
}

.Username input{
    color: white;
    width: 200px;
    height: 35px;
    font-size: 15px;
    background-color: transparent;
    border: 0cm;
    border-bottom: 1px solid white;
}

.Password{
    padding-top: 30px ;
    width: 100%;
    height: 80px;
}

.Password h2{
    color: orange;
}

.Password input{
    color: white;
    width: 200px;
    height: 35px;
    font-size: 15px;
    background-color: transparent;
    border: 0cm;
    border-bottom: 1px solid white;
}

.Agreement h3{
    color: orange;
}

.Agreement{
    padding-top: 60px ;
    width: 100%;
    height: 80px;
}

.Log-Buttont{
    display: flex;
    padding-top: 60px ;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.Log-Button button{
    width: 80px;
    margin-top: 40px;
    margin-left: 130px;
    font-size: 25px;
    background-color: orange;
    color: black;
    border-radius: 10px;
}

.Log-Button button a{
    text-decoration: none;
    color: black;
}

.RegisNav{
    padding-left: 40px;
    padding-top: 20px ;
    width: 100%;
    height: 20px;
}

.pagecontent{
    display: flex;
    padding-top: 8%;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color:aqua;
}


.content-bg{
    width: 100%;
    height: 100%;
    background-color: aqua;
}


.gamespage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
    background-color: black;
}

.desfont{
    margin: auto;
    font-size: 20px;
    color: gray;
}

.game-container{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gamebox{ 
    width: 30%;
    height: 350px;
    background-color: azure;
    border-radius: 10px;
    overflow: hidden;
}


.Footer{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    padding-top: 0%;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.pagenav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.pagenumber{
    font-size: 32px;
    margin-left: 35px;
    text-decoration: none;
    background-color: orange;
    color: black;
}